header{
	background-color: grey;
	height: 80px;
	width:100%;
	top: 0;
	right: 0;
	left:0;
	position: absolute;
}

#header-tag{
	width: 80px;
	float: left;
	position: relative;	
/*	padding-top: 12px;
*/	font-family: 'Josefin Sans', sans-serif;
}

.head-items{
	text-align: center;
	float: right;
	position: relative;
	padding-top: 14px;
	font-family: 'Raleway', sans-serif;
    font-color: navy !important;
}

li{
	float: right;
	display: inline-table;
	text-align: center;
	padding-left: 4px;
	padding-right: 4px;
	font-family: 'Oswald', sans-serif;
	font-size: 20px;
	color: black !important;
}
#section-1{
	text-align: center;
	/*margin-top: 100px;*/
}

#about{
	width: 80%;
	text-align: center;
	position: relative;
	margin: auto;
}

.parallax-container {
	height: 700px;
}

#port-head{
	text-align: center;
}

#connect-2{
	text-align: center;
}


/*font-family: 'Roboto', sans-serif;
font-family: 'Rozha One', serif;
font-family: 'Slabo 27px', serif;
font-family: 'Oswald', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto Slab', serif;*/